html, body, div , span , applet , object , iframe, h1, h2, h3, h4, h5, h6, p, blockquote , pre , a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display:block;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q{ 
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a { text-decoration:none;}

body { background:pink; background:white;}

header { width:100%;
  height:766px;
  background:white;
  margin-top:16px;
  margin-bottom:106px;
}

header>div:first-child { 
  width:100%;
  height:105px;
  position:relative;
  margin-bottom:60px;
}

header div:first-child ul { position:absolute;
bottom:-20%;
left:12%;
}

header div:first-child ul li { float:left; margin-left:14px;}

header div:first-child>ul>li:first-child { width:30px;
height:36px;
background:url("../img/top1.png") no-repeat;
}




#a1 p ,#a2 p{ 
font-size:10px;
color:black;
line-height:30px;
}

header>div:first-child>div{ 
  width:118px;
  height:108px;
  background:url("../img/top2.png") no-repeat;
  margin:0 auto;
}


header div+div>div:first-child {background:url("../img/icon_search_38x36.png") no-repeat;}

.h_t dl{ position:absolute;
  bottom:-20%;
  right:13%;
}

.h_t dl dd { width:28px; height:27px;  display:inline-block;}

#dl_a1 { 
display:inline-block;
background:url("../img/1.png") no-repeat;
width:28px; 
height:27px;

}
.h_t dl dd:last-child { 
  background:url("../img/2.png") no-repeat;
 margin-left:38px;
}

#dl_s1 { display:inline-block;
  width:20px;
  height:20px;
  background:black;
  text-align:center;
  border-radius:10px;
  font-size:14px;
  line-height:20px;
  position:absolute;
  bottom:-4%;
  right:12.5%;
  color:white;
}


.h_bg { width:100%;
  height:490px; 
   background:pink;
  overflow:hidden;
  position:relative;
}

.h_bg ul  { width:150%;
  height:490px;
  background:black;  
  display:flex;
  position:absolute;
  left:-50%;
}

.h_bg ul li { width:1044px;
  height:430px;
}
.h_bg ul li a { display:block;}

.h_bg_f { width:1044px;
  height:170px;
  background:pink;
  padding-top:260px;  
  
}

.h_bg_f p:last-child { display:block; 
height:5px; 
width:10px;
 background:white;
 margin:0 auto;
 margin-top:60px;
}

.h_bg_f h2 ,.h_bg_f p{
 color:white;
 text-align:center;

}
.h_bg_f h2{ font-size:32px; 
  margin-bottom:20px;
}

.h_c { position:relative; height:216px;background:#F6F6F6; border-bottom:1px solid #D2D2D2; z-index:1;}
.h_c ul{ position:absolute; bottom:-84%; left:8%; }

.h_c ul li { float:left;
  margin:0 16px;
  font-size:14px;
  color:#999;
}

.h_c dt,.h_c dl { text-align:center;}

.h_c dl dd { visibility:hidden; background:white; }



.h_c .d-f{
 line-height:100px;
 font-size:22px;
 color:#c3a56e;
 width:148px;
 height:100px;
 background:white;
}

.h_c .d-f~dd { 
  font-size:13px;
  line-height:36px;
  height:36px;
  width:148px;
}
.h_c .d-f~dd a { color:black;}
.h_c .d-h { padding-bottom:27px; border-bottom:3px solid #c3a56e;}

.h_c .d-n {background:0;}

#oUl .d-show dd  { visibility:visible !important;}

#oUl li { transition:0.2s linear;}

#oUl .d-n-G { height:100px; border-bottom:3px solid #c3a56e; transition:0.2s linear;}


#content { height:1192px; width:100%; position:relative; z-index:0; }

#content .left,#content .right { position:absolute; top:60%;
}
#content .left {  left:8%;}
#content .right { right:8%;}
 
#content .d1,#content .d4 { width:394px;
	height:120px;
	padding-top:434px;
	background:#F5F5F6;
	position:absolute;
	box-shadow:5px 5px 20px 0 rgba(0,0,0,.3);
}

#content .d1 { 
	top:10%;
	left:10%;
}

#content .d1 .d1-a2,#content .d1 .d1-a3 { position:absolute; bottom:-11%;left:0;}
#content .d1 a {visibility:hidden;}


#content .d2,#content .d3 { background:#F5F5F6;
	position:absolute;
	box-shadow:5px 5px 20px 0 rgba(0,0,0,.3);}


#content .d2 img { margin-top:-30%;}
#content  img:hover { transform:scale(1.05)}


#content .d1 a, #content .d2 a,#content .d3 a,#content .d4 a { display:block;}

#content p { color:#6666;
  font-size:18px;
  margin-left:20px;
  line-height:20px;
  transition: 0.5s linear;
}


#content p:last-child { color:black; font-size:26px; margin-top:30px; transition: 0.5s linear;}
#content p:last-child:hover  { color:#b19939;}

#content img, #content .d1 p, #content .d4 p{ transition:0.5s linear; visibility:hidden; opacity:0;}
#content .active {  visibility:visible !important; opacity:1 !important;}
	

#content .d1 img{ position:absolute; top:6%; right:-30%; }
#content .d1 .d1-img2 { top:-50%; right:-60%;}
#content .d1 .d1-img3 { top:0%; right:-70%;}


#content .d2 { width:392px;
  height:254px;
  top:22%;
  right:26%;
}





#content .d2 div { width:202px;
  position:absolute;
  top:24%;
  right:-58%;
 visibility:hidden;

}

#content .d2 div { transition:0.5s linear;}

#content .d2 .d2-img-g { position:absolute; top:0; left:-40%;}

#content .d2 .d2-img-g2 { position:absolute; top:0; left:-32%;}

#content .d2 .SP2, #content .d2 .SP3{ transform:translateX(100px)}

#content .d3 { width:576px; 
height:144px;
bottom:12%;
left:10%;
padding-top:80px;
}

#content .d3 img {position:absolute;top:-72%;right:-2%;}

#content .d3 .d3-img2, #content .d3 .d3-img3 {right:-20%;}

#content .d3 div {visibility:hidden; transition:0.5s linear;}

/*******3/24补充********/
#content .d3 .d3-2, #content .d3 .d3-3{position:absolute;bottom:-10%;left:0%;}



#content .d4 img {position:absolute;top:-4%;right:0;}

#content .d4 .d4-img2,#content .d4 .d4-img3 { right:-20%;}

#content .d4 { bottom:3%;
	right:12%;
}

#content .d4 p { margin-left:-120px !important;}

#content .d4 .d4-a2,#content .d4 .d4-a3 { position:absolute; bottom:-10%;left:0;}

#content ul  { position:absolute; width:94px; height:10px;	
	
	bottom:0;
	left:48%;
}

#content ul li { float:left; width:10px; height:10px; 
	background:#666; 
	margin-right:12px;
	border-radius:8px;
	transition:0.5s linear;
}
#content ul li:last-child { margin-right:0;}

.li1 { width:50px !important;}  /******JS 赋值*******/


#content_b { 
  width:100%;
  height:2412px;
  position:relative;
  margin-bottom:20px;
  }

#content_b .nav,#content_f .nav { width:100%; 
height:146px;
padding-top:40px;

}

#content_b .nav2,#content_f .nav{ padding-top:60px;}


#content_b .nav h2,#content_f .nav h2,#content_b .nav h2+p,#content_f .nav h2+p { font-weight:400;
  line-height:36px;
  text-align:center;
  color:#2E2E2C;
}

#content_b h2,#content_f h2{ font-size:34px;
margin-bottom:10px;
}
#content_b h2+p ,#content_f h2+p{ font-size:14px; letter-spacing:14px;}

#bg { width:100%; height:364px;}

.bg_l ul{  width:1140px; height:200px; 
	margin:0 auto;
	
}

.bg_l ul li { float:left; width:190px; height:200px;
overflow:hidden;
}

.bg_l ul li a { 
display:block;
width:190px;
height:200px;
transition:0.5s linear;
}
.bg_l ul li:nth-child(1)>a{ 
background:url("../img/li1.png") no-repeat 0px 60px;
background-size:100%;
background-color:white;
}

.bg_l ul li:nth-child(2)>a{
background:url("../img/li2.png") no-repeat 0px 60px;
background-size:100%;
background-color:white;
}

.bg_l ul li:nth-child(3)>a{
background:url("../img/li3.png") no-repeat 0px 60px;
background-size:100%;
background-color:white;
}


.bg_l ul li:nth-child(4)>a{
background:url("../img/li4.png") no-repeat 0px 60px;
background-size:100%;
background-color:white;
}


.bg_l ul li:nth-child(5)>a{
background:url("../img/li5.png") no-repeat 0px 60px;
background-size:100%;
background-color:white;
}

.bg_l ul li:nth-child(6)>a{
background:url("../img/li5.png") no-repeat 0px 60px;
background-size:100%;
background-color:white;
}

.bg_l ul li a:hover { transform:scale(1.1);
background-color:rgba(0,0,0,0.5)
}




#content_b >a { display:block; width:1190px; height:500px;
 margin:0 auto;
 background:url("../img/bg1.png");
}

#content_b .bg_2 { width:1190px;
  height:700px;
  margin:0 auto;
  position:relative;
  margin-bottom:20px;
  
}
#content_b .bg_g { 
	width:1190px !important;
  height:700px !important;
  background:url("../img/s1.jpg") no-repeat;
  background-size:100%;
  opacity:0.8;
  z-index:0;
  }

#content_b .video a { }

/**********箭头*****************/

 .left, .right { position:absolute; display:block; 
 transition:0.5s linear;
 width:58px; height:58px; border-left:1px solid #696968;border-top:1px solid #696968; 
background:rgba(0,0,0,0);
}
 .left { transform:rotate(-45deg);}
 .right { transform:rotate(135deg);}

#content_b .bg_2 { position:relative; /*overflow:hidden;*/ }

#content_b .bg_2 .left {  top:47%; left:10%; z-index:2;}
#content_b .bg_2 .right {  top:47%; right:10%; z-index:2;}

.left:hover, .right:hover{ border-left:1px solid #aa9d65;border-top:1px solid #aa9d65;}

.bg_g .video { width:4480px; overflow:hidden; height:400px; padding-top:100px; transition:0.5s linear;
position:absolute;  left:-330px;
}
.bg_g .video li { float:left; width:580px; height:400px; margin-right:60px; z-index:2;}
.bg_g .video li a{ display:inline-block; width:580px; height:400px; }
.video li .hidden{ opacity:0.5; }
.video li .video_1 { background:url("../img/s4.jpg") no-repeat}
.video li .video_2 { background:url("../img/s1.jpg") no-repeat;
	background-size:100%;
}
.video li .video_3 { background:url("../img/s2.jpg") no-repeat;
background-size:100%;
}
.video li .video_4 { background:url("../img/s3.jpg") no-repeat}

/**************************************/


#content_b div:last-child { width:100%; height:60px;}
#content_b div:last-child>a { display:block;}
#content_b div:last-child>a>div { width:120px; height:38px; margin:0 auto; border:1px solid black; 
	transition:0.5s linear;
}

#content_b div:last-child>a>div>p { text-align:center; line-height:38px; font-size:12px;
	transition:0.5s linear; color:black;
}

#content_b div:last-child>a>div:hover { background:black;}
#content_b div:last-child>a>div:hover p { color:white;}

/***********T课堂部分**********************/

#content_f  {width:100%; height:2150px; 
background:#ffff;
font-size:0;
}


.nav h2+p { margin-left:20px;}



#content_f .T-IMG1{
	display:inline-block;
	margin-left:180px;
	width:390px;
	height:570px;
	overflow:hidden;
}

#content_f .T-IMG1>a{
	display:inline-block;
	background:url("../img/T-bg1.jpg") no-repeat;
	width:390px;
	height:570px;
	background-size:100%;
	transition:0.8s linear;
}

#content_f .T-IMG1>a:hover { 
 transform:scale(1.05);
}

#content_f .T-f { 
  width:540px;
  height:360px;
  display:inline-block;
  background:#F5F5F5;
  vertical-align:top;
}

#content_f .T-f>p:nth-child(1) { 
  letter-spacing:.06em;
  font-size:16px;
  font-weight:700;
  color:#c0a369;
  text-align:right;
  margin-top:30px;
  margin-right:30px;
}

#content_f .T-f h3 { 
  font-size:28px;
  font-weight:bold;
  height:40px;
  margin-left:30px;
  letter-spacing:.06em;
}

#content_f .T-f h3 a{ 
   color:black;
}
/*下划线
#content_f .T-f span { 
  display:block;
  margin-left:30px;
  width:266px;
  height:1px;
  background:black;
}
*/
#content_f .T-f span:last-child { 
  display:block;
  margin-top:12px;
  margin-left:30px;
  font-size:12px;
  line-height:20px;
  color:#999;
}

#content_f .T-f p:last-child { 
  font-size:14px;
  color:black;
  text-align:right;
  margin-right:50px;
  margin-top:180px;
}
#content_f .T-f2 { 
  width:600px;
  height:260px;
}

#content_f .T-f2 p:last-child{ 
   margin-right:100px;
   margin-top:94px;
}

#content_f .T-f2 { 
  display:inline-block;
  margin-left:180px;
  margin-top:40px;
}

#content_f .T-IMG2,#content_f .T-IMG2>a{
  width:590px;
  overflow:hidden;
  display:inline-block;
  margin-right:140px;
}
#content_f .T-IMG2{
  height:470px;
  vertical-align:top;
  margin-top:-170px;
  background:#F5F5F5;
}


#content_f .T-IMG2>a{
  height:360px;
  background:url("../img/T-bg2.jpg");
  transition:0.8s linear;
}

#content_f .T-B { 
  display:inline-block;
  vertical-align:top;
  width:120px;
  height:360px;
  margin-top:40px;
  background:#F5F5F5;
  
}

#content_f .T-IMG2>a:hover { 
 transform:scale(1.05);
}

#content_f .T-f-G { 
  margin-top:40px;
  margin-left:320px;
}

#content_f .T-IMG1-G {margin-left:0px; margin-top:40px;}

#content_f .T-IMG1-G a{ background:url("../img/T-bg3.jpg")}

#content_f .T-IMG2-G,#content_f .T-IMG2-G a{ margin-right:0px;}
#content_f .T-IMG2-G { margin-left:180px;}
#content_f .T-IMG2-G a{ background:url("../img/T-bg4.jpg") no-repeat}
#content_f .T-f2-G { margin-top:40px; margin-left:0px;}

#content_f .T-B-G { margin-top:0; margin-left:352px;}

#content_f >a { 
display:block;
width:120px;
height:38px;
border:1px solid black;
margin: 0 auto;
background:white;
transition:0.5s linear;
margin-top:60px;
}

#content_f >a>p { text-align:center; line-height:38px; font-size:12px; color:black;
transition:0.5s linear;
}
#content_f >a:hover { background:black;}
#content_f >a:hover p { color:white;}
