@charset "utf-8";

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,div,dl,dt,dd,input{
	margin: 0;padding: 0;
}
body{font-size:12px}
img{border: 0;}
li{list-style:none}
input,select,textarea{outline:none;border:0;}
textarea{resize:none;}
a{text-decoration: none; color: #656565;}
/*清浮动*/
.clearfix:after{
	content:'';
	display: block;
	clear:both;
	height: 0;
	visibility: hidden;
}
.clearfix{zoom:1;}

/*浮动*/
/*.fl{
	float: left;
}
.fr{
	float: right;
}*/
input::-ms-clear{   /*去除输入框的叉号*/
  display: none;
}


